{
    "presets": [
        "@babel/preset-react",
        [
            "env",
            {
                "targets": {
                    "node": "current"
                    // "browsers": ["> 1%"]
                }
            }
        ]
    ]
}
